# Data Wrangling and Subsetting

## Contents
- 01. Importing Libraries and databases
- 02. Data Wrangling Procedures
    - renaming variables
    - changing data types
    - transposing dataframe
    - creating data dictionary
- 03. Exercise 4.4 Task
    - changing data types
    - renaming variables
    - creating subset of dataframe
        - via single variable
        - via multiple variables and .isin()
    - Extracting information about specific user_id
    - Exporting data

## 01. Importing Libraries & databases

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#setting path to Achievement 4 master folder
path = r'/Users/jeremyobach/Documents/Data Analytics/CareerFoundry/Achievement 4- Python for DA/DEC23 Instacart Basket Analysis - MASTER FOLDER'
#checking path set correctly
path

'/Users/jeremyobach/Documents/Data Analytics/CareerFoundry/Achievement 4- Python for DA/DEC23 Instacart Basket Analysis - MASTER FOLDER'

In [3]:
#creating dataframes to import products and orders datasets using pandas
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data','orders_2.csv'), index_col = False)
#changing df_ords pull from Original orders.csv to prepared data orders_2.csv, so the eval_set variable is dropped.
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data','products.csv'), index_col = False)

## 02. Data wrangling procedures

In [12]:
df_ords['days_since_prior_order'].value_counts(dropna = False)

days_since_prior_order
30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
NaN     206209
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: count, dtype: int64

In [13]:
#renaming variable in df_ords with unintuitive name
df_ords.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [14]:
df_ords['order_id'] = df_ords['order_id'].astype('str')

In [15]:
#importing departments dataset as df_dep
df_dep = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'departments.csv'), index_col = False)

In [16]:
df_dep.head()

,department_id,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,department,frozen,other,bakery,produce,alcohol,international,beverages,pets,dry goods pasta,...,meat seafood,pantry,breakfast,canned goods,dairy eggs,household,babies,snacks,deli,missing

In [17]:
#transposing df_dep
df_dep_t = df_dep.T

In [18]:
df_dep_t

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [19]:
df_dep_t.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [20]:
#take the first row of df_dep_t for the header
new_header = df_dep_t.iloc[0]

In [21]:
new_header

0    department
Name: department_id, dtype: object

In [22]:
# Take the data under the header row for a new df
df_dep_t_new = df_dep_t[1:]

In [23]:
df_dep_t_new

                  0
1            frozen
2             other
3            bakery
4           produce
5           alcohol
6     international
7         beverages
8              pets
9   dry goods pasta
10             bulk
11    personal care
12     meat seafood
13           pantry
14        breakfast
15     canned goods
16       dairy eggs
17        household
18           babies
19           snacks
20             deli
21          missing

In [24]:
df_dep_t_new.columns = new_header #set the header row as the df header

In [25]:
df_dep_t_new

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [26]:
data_dict = df_dep_t_new.to_dict('index')

In [27]:
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

In [28]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [29]:
print(data_dict.get('19'))

{'department': 'snacks'}

In [30]:
df_snacks = df_prods[df_prods['department_id']==19]
df_snacks.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
15,16,Mint Chocolate Flavored Syrup,103,19,5.2
24,25,Salted Caramel Lean Protein & Fiber Bar,3,19,1.9
31,32,Nacho Cheese White Bean Chips,107,19,4.9
40,41,Organic Sourdough Einkorn Crackers Rosemary,78,19,6.5

In [31]:
df_snacks_2 = df_prods.loc[df_prods['department_id']==19]

### df_snacks_3 = df_prods.loc[df_prods['deparment_id'].isin([19]) 

isin() handy because you could list multiple values here, in this case more than one department

## 03. Exercise 4.4 Task

### finding ANOTHER (already changed order_id in Data Wrangling above) identifier variable in df_ords dataframe that doesn't need to be included in analysis as numerical variable

In [33]:
df_ords.head() #user_id and order_number both qualify.

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,NaN
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [34]:
df_ords['user_id'] = df_ords['user_id'].astype('str')
df_ords['order_number'] = df_ords['order_number'].astype('str')

In [35]:
df_ords['order_number'].dtype

dtype('O')

In [36]:
df_ords['user_id'].dtype

dtype('O')

In [37]:
df_ords['order_id'].dtype

dtype('O')

### Without overwriting original orders.csv, change variable with unintuitive name. 
Couldn't really find one, all of the names make sense to me. Slight change to orders_hour_of_day to be more in line with orders_day_of_week

In [8]:
df_ords_2 = df_ords.rename(columns = {'order_hour_of_day' : 'orders_hour_of_day'}, inplace = True)

### For the client, appears that 10 AM is the busiest hour for placing orders, followed by 11 AM and 3 PM (1500).

Still experiencing error when I try to do this with the newly created df_ords_2 and ['orders._hour_of_day'], unclear what is different with the two if I made df_ords_2 equivalent but with a different column name.

### Determine the meaning behind a value of 4 in the "department_id" column within the df_prods dataframe using a data dictionary.

In [61]:
#data dictionary was created above in data wrangling section, so it's straightforward for us to call dept 4.
print(data_dict.get('4'))

{'department': 'produce'}

### The sales team in your client’s organization wants to know more about breakfast item sales. Create a subset containing only the required information.

In [62]:
df_breakfast = df_prods.loc[df_prods['department_id']==14]

In [63]:
df_breakfast.head()

,product_id,product_name,aisle_id,department_id,prices
27,28,Wheat Chex Cereal,121,14,10.1
33,34,NaN,121,14,12.2
67,68,"Pancake Mix, Buttermilk",130,14,13.7
89,90,Smorz Cereal,121,14,3.9
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,130,14,3.6

### Find all observations from the entire dataframe that include items from the following departments: alcohol, deli, beverages, and meat/seafood.

In [64]:
#refresher on catagories
data_dict
#5, 20, 7, 12

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

In [65]:
df_dinnerparty = df_prods.loc[df_prods['department_id'].isin([5, 7, 12, 20])]

In [66]:
df_dinnerparty.info

<bound method DataFrame.info of        product_id                                    product_name  aisle_id  \
2               3            Robust Golden Unsweetened Oolong Tea        94
6               7                  Pure Coconut Water With Orange        98
9              10  Sparkling Orange Juice & Prickly Pear Beverage       115
10             11                               Peach Mango Juice        31
16             17                               Rendered Duck Fat        35
...           ...                                             ...       ...
49676       49672                          Cafe Mocha K-Cup Packs        26
49679       49675             Cinnamon Dolce Keurig Brewed K Cups        26
49680       49676                          Ultra Red Energy Drink        64
49686       49682                              California Limeade        98
49688       49684       Vodka, Triple Distilled, Twist of Vanilla       124

       department_id  prices
2                  7     4.5
6                  7     4.4
9                  7     8.4
10                 7     2.8
16                12    17.1
...              ...     ...
49676              7     6.5
49679              7    14.0
49680              7    14.5
49686              7     4.3
49688              5     5.3

[7650 rows x 5 columns]>

Latest created dataframe, df_dinnerparty, has 7650 rows.

### Someone from the data engineers team in Instacart thinks they’ve spotted something strange about the customer with a "user_id" of “1.” Extract all the information you can about this user.

In [67]:
df_user1 = df_ords[df_ords['user_id']==1]

In [68]:
df_user1.head

<bound method NDFrame.head of Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, order_number, orders_day_of_week, orders_hour_of_day, days_since_prior_order]
Index: []>

In [69]:
df_user1.info

<bound method DataFrame.info of Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, order_number, orders_day_of_week, orders_hour_of_day, days_since_prior_order]
Index: []>

About User 1, they have placed at least 7 orders (I see some numbers repeating in order number variable), and as many as 10-, they haven't gone more than a month between orders, but frequently return either about a month or 2 weeks in between visits. Probably routine grocery runs. Seems to be missing DOW and Hour of Day figures.

In [52]:
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled.csv'))

In [51]:
df_dep_t_new.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'))