# 4.6.2 Task - Merging Dataframes

## Contents
(continued from 4.6)
- importing libraries
3. Importing merged pkl dataframe from 4.6
4. Inspecting merged dataframe
    - .shape
    - .tail
5. Importing products data
6. Merging orders_combined and products data
    - troubleshooting 
    - left merge to inner merge
7. Exporting combined dataset in pickle format

### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# Setting path to Achievement 4 master folder
path = r'/Users/jeremyobach/Documents/Data Analytics/CareerFoundry/Achievement 4- Python for DA/DEC23 Instacart Basket Analysis - MASTER FOLDER'
#checking path set correctly
path

'/Users/jeremyobach/Documents/Data Analytics/CareerFoundry/Achievement 4- Python for DA/DEC23 Instacart Basket Analysis - MASTER FOLDER'

## Step 3

### Importing orders_products_combined.pkl dataframe

In [3]:
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data','orders_products_combined.pkl'))

## Step 4

In [4]:
df_ords_prods_combined.shape

(32434489, 11)

In [5]:
# also getting a look at the columns

df_ords_prods_combined.tail()

,order_id,user_id,order_number,orders_day_of_week,orders_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
32434484,2977660,206209,13,1,12,7.0,False,14197,5,1,both
32434485,2977660,206209,13,1,12,7.0,False,38730,6,0,both
32434486,2977660,206209,13,1,12,7.0,False,31477,7,0,both
32434487,2977660,206209,13,1,12,7.0,False,6567,8,0,both
32434488,2977660,206209,13,1,12,7.0,False,22920,9,0,both

### Same shape as previous notebook (4.6 Combining and Exporting Data)

## Step 5

### Importing wrangled, cleaned, and deduped products data set from Prepared Data. -> products_checked.csv from 4.5

In [6]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [7]:
df_prods.head()

# Still having issues with the index column popping back up.

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [9]:
df_prods.tail()

,product_id,product_name,aisle_id,department_id,prices
49667,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49668,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49669,49686,Artisan Baguette,112,3,7.8
49670,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49671,49688,Fresh Foaming Cleanser,73,11,13.5

In [10]:
df_prods.shape

(49672, 5)

### Can merge with df_ords_prods_combined on [product_id]

### TROUBLESHOOTING - due to unexpected results in 4.7 (many "high end" products when there should be none, going to change this merge of df_ords_prods_combined with df_prods merge type, from 'left' to 'inner'

In [15]:
df_merged = df_ords_prods_combined.merge(df_prods, on = 'product_id', how = 'inner')

In [16]:
# Checking results of merge

df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,orders_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,NaN,True,196,1,0,both,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,False,196,1,1,both,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,False,196,1,1,both,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,False,196,1,1,both,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,False,196,1,1,both,Soda,77,7,9.0

In [17]:
df_merged.shape

(32404859, 15)

## Step 6 
### Checking results of the merge using the merge flag

In [18]:
df_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

### Specifically designated how = 'left' in the merge function. So if all values are still both, I either did something wrong or every one of the product_ids had an equivalent in both dataframes. 

#### Which is plausible.

## Update: changed from 'left' to 'inner' merge type

## Step 7

### Exporting merged orders/products dataset in pickle format

In [19]:
df_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))